<ol class="breadcrumb" style="background-color: white;">
  <li><a href="<%= pages_path %>">页面列表</a></li>
  <li class="active">新增页面</li>
</ol>

<div id="page_form">
	<%= render 'form',  url: pages_path %>
</div>
<script type="text/javascript">
  // TODO: using url helper method
var onchange_render = function(prototype_id) {
  <% if params["parent_id"].present?  %>
    var url = "<%= onchange_new_pages_path(parent_id: params[:parent_id]) %>" + "&prototype_id=" + prototype_id;
  <% else %>
    var url = "<%= onchange_new_pages_path %>" + "?prototype_id=" + prototype_id;
  <% end %>

  $.ajax({ url: url });
}
</script>